{% if page.header.image %}
    {% assign image = page.header.image %}
{% endif %}

{% if page.header.align %}
    {% assign align = page.header.align %}
{% else %}
    {% assign align = "center" %}
{% endif %}

<header class="uk-background-{{ align }}-center uk-background-cover px" style="{% if page.header.background %}background-color: {{ page.header.background }};{% endif %}{% if page.header.image %} background-image: url({% if image contains 'http' %}{{ image }}{% else %}{{ site.uploads | absolute_url }}{{ image }}{% endif %});{% endif %}">
    <div class="uk-overlay-header" style="{% if page.header.overlay %}background: {{ page.header.overlay }};{% endif %}">
        <div class ="dark-hero1 signup-page">
            {% include navbar.html %}
            <div class="login-box sponsor-hero1 dark-hero1">
                <h1 class ="big-text">Coming Soon...</h1>
            </div>
        </div>
    </div>
</header>