<footer class="footer px">
<div class="flex-centered foot">
<h3>Terms and Policies</h3>
<a href="/uploads/termsandconditions.pdf" target="blank">Terms and Conditions</a>
<a href="/uploads/privacypolicy.pdf" target="blank">Privacy Policy</a>
<a>Children's Policy</a>
</div>
<div class="flex-centered foot">
    <h3>Contact Us</h3>
    <p>madi@codecontest.org</p>
    <p>(435)315-2475</p>
    <div><a href="https://www.facebook.com/codecontest"><img src="/uploads/FB.png" width="20px"></a><a href="https://www.instagram.com/code_contest/"><img src="/uploads/IG.png" width="20px"></a><a href="https://www.linkedin.com/company/code-contest" ><img src="/uploads/LinkedIn.png" width="20px"></a><a href="https://twitter.com/code_contest"><img src="/uploads/Twitter.png" width="20px"></a></div>
</div>
</footer>