<ul>
  <a class="uk-align-center uk-button uk-button-primary uk-button-large uk-margin-medium-top" style="max-width:300px;" target="_blank" href="http://meet.google.com/xqy-ixxe-hio">Mr. Christensen's Class</a>
  <a class="uk-align-center uk-button uk-button-primary uk-button-large uk-margin-medium-top" style="max-width:300px;" target="_blank" href="http://meet.google.com/grv-fzyi-pwp">Mrs. Back's Class</a>
  <a class="uk-align-center uk-button uk-button-primary uk-button-large uk-margin-medium-top" style="max-width:300px;" target="_blank" href="https://meet.google.com/cgr-hray-qua">Mrs. Townes' Class</a>
  <a class="uk-align-center uk-button uk-button-primary uk-button-large uk-margin-medium-top" style="max-width:300px;" target="_blank" href="http://meet.google.com/yrz-zhup-ffi">Mrs. VanWagner's Class</a>
  <a class="uk-align-center uk-button uk-button-primary uk-button-large uk-margin-medium-top" style="max-width:300px;" target="_blank" href="http://meet.google.com/wkj-dgko-cms">Ms. Blaha's Class</a>
</ul>
