    <nav class="uk-navbar-container uk-active px">
        <div class="uk-container">
            <div data-uk-navbar>
                <div class="home-nav-left">
                    <a href="/">
                        {% unless page.help %}
                            <img src="../uploads/logo.png" alt="CodeContest logo" width="65%">
                        {% endunless %}
                        {% if page.help %}
                            <img src="../../uploads/logo.png" alt="CodeContest logo" width="65%">
                        {% endif %}
                    </a>
                </div>
                <div class="home-nav-right">
                    <div class="mobile">
                        <input type="checkbox" id="menu_checkbox">
                        <label for="menu_checkbox">
                            <div></div>
                            <div></div>
                            <div></div>
                            <nav class="mobile-nav">
                                <a href="/about/">ABOUT</a>
                                <a href="/events/">EVENTS</a>
                                <a href="/sponsor/">SPONSOR</a>
                                <a href="/host/">HOST</a>
                                <a href="/contactus/">CONTACT</a>
                                <a href="https://go.codecontest.org/signup">SIGN UP</a>
                                <a href="https://go.codecontest.org/login">LOGIN</a>
                                <a href="https://go.codecontest.org/teachers">TEACHERS</a>
                            </nav>
                        </label>
                        
                    </div>
                    <a class="non-mobile" href="/about/">ABOUT</a>
                    <a class="non-mobile" href="/events/">EVENTS</a>
                    <a class="non-mobile" href="/sponsor/">SPONSOR</a>
                    <a class="non-mobile" href="/host/">HOST</a>
                    <a class="non-mobile" href="/contactus/">CONTACT</a>
                    <a class="non-mobile" href="https://go.codecontest.org/signup">SIGN UP</a>
                    <a class="non-mobile" href="https://go.codecontest.org/login">LOGIN</a>
                    <a class="non-mobile" href="https://go.codecontest.org/teachers">TEACHERS</a>
                </div>
            </div>
        </div>
    </nav>
