<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

    {% include head.html %}

    <body>
    {% if page.login %}
        {% include login.html %}
    {% elsif page.hero %}
        {% include hero.html %}
    {% elsif page.about %}
        {% include about.html %}
    {% elsif page.events %}
        {% include events.html %}
    {% elsif page.coming %}
        {% include coming.html %}
    {% elsif page.sponsor %}
        {% include sponsor.html %}
    {% elsif page.host %}
        {% include host.html %}
    {% elsif page.contact %}
        {% include contact.html %}
    {% elsif page.signup %}
        {% include signup.html %}
    {% else %}
        {% include navbar.html %}
    {% endif %}

    {{ content }}

    {% include offcanvas-docs.html %}

    {% include offcanvas.html %}

    {% if page.layout != 'doc' %}
        {% include footer.html %}
    {% elsif page.layout != 'tutorial' %}
        {% include footer.html %}
    {% endif %}

    {% if page.layout == 'doc' %}
        {% include hook-pre-closing-body-doc.html %}
    {% endif %}



    {% include hook-pre-closing-body.html %}
    </body>

</html>
